@import "./variable";


.banner{
    height: 330px;width: 100%;
}

.article-content{padding:35px 25px;
    h1{line-height: 70px;font-size: 48px;color:#333;text-align: center;}
    .time{line-height: 46px;font-size: 24px;color:#999;}
    .content{line-height: 60px;font-size: 28px;padding:20px 0;text-align: left;text-indent: 2em;}
    .article-info{font-size: 24px;color:#999;line-height: 90px;}
}
