@import "./app";


.menu-icon-wrapper {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-right: 28px;
    pointer-events: none;
    transition: 0.1s;
}

.menu-icon-wrapper.scaled {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}

.menu-icon-wrapper svg {
    position: absolute;
    top: -33px;
    left: -33px;
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.menu-icon-wrapper svg path {
    transition: stroke 0.3s;
    stroke: #666;
    stroke-width: 60px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: transparent;
}

.menu-icon-wrapper .menu-icon-trigger {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    pointer-events: auto;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.menu-icon-wrapper .menu-icon-trigger:hover,
.menu-icon-wrapper .menu-icon-trigger:focus {
    outline: none;
}


.main-nav{
    display: flex;align-items: center;
    justify-content: space-between;transition: background-color 1s;
    height: 120px;width: 100%;background-color: #fff;
    .logo{width: 310px;height:72px;margin-left: 28px;background-image:url('../assets/img/logo.png'); background-size: 100%;background-position: 0 0;transition: background-position 0.6s;
    }
    &.open{background-color:$color-primary;
        .logo{background-position: 0 72px;}
        .menu-icon-wrapper svg path{stroke: #fff;}
    }
}
.nav-wrapper{
    position: absolute;top:120px;z-index: 999;bottom: 0;display:none; width: 100%;background-color:transparent;transition: background-color 0.7s;
    .nav-list{width: 100%;background-color:transparent;transition: background-color 0.5s;
        flex-wrap: wrap;display:flex;height:616px;
        .nav-item{display: flex;flex-basis: 100%;height:88px;align-items:center;padding-left: 64px;font-size: 30px;color: #fff;
            transition: transform 0.5s;
            transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
            transform: translate3d(0, 100%, 0) scale3d(1, 0, 1);
            &.active{background-color:#fff;color:$color-primary;}
        }
        &.show .nav-item:nth-child(1),.nav-item:nth-child(7){
            transition-delay: 0.05s;
        }
        &.show .nav-item:nth-child(2),.nav-item:nth-child(6){
            transition-delay: 0.1s;
        }
        &.show .nav-item:nth-child(3),.nav-item:nth-child(5){
            transition-delay: 0.15s;
        }
        .nav-item:nth-child(4){
            transition-delay: 0.2s;
        }
        &.show .nav-item:nth-child(5),.nav-item:nth-child(3){
            transition-delay: 0.25s;
        }
        &.show .nav-item:nth-child(6),.nav-item:nth-child(2){
            transition-delay: 0.3s;
        }
        &.show .nav-item:nth-child(7),.nav-item:nth-child(1){
            transition-delay: 0.35s;
        }
        
    }
    &.show{background-color:$color-primary;
        .nav-list{background-color:$color-primary;
            .nav-item{
                transition-timing-function: cubic-bezier(0.56, 1.19, 0.2, 1.05);
                transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            }
        }
        
    }
    &.white{transition: background-color 0.5s;
        background-color:#fff;
    }
}


.block{
    h2{font-size: 48px;color: #464646;line-height: 130px;width: 100%;}
    .btn{width: 400px;margin:50px 0;}
}






.advantage{background-color: #fff;margin-top: 30px;display: flex;flex-wrap:wrap;padding:0 75px;justify-content: center;
    h2{color:#000;margin:10px 0;}
    .item{
        flex-basis: 300px;display: flex;justify-content: center;flex-wrap: wrap;
        i{//0.68
            font-size:200px;line-height: 1;color:$color-primary;
        }
        h4{width: 100%;margin-top: 30px;line-height: 46px;font-size: 28px;color:$color-primary;}
        p{width: 100%;line-height: 36px;font-size: 16px;}
    }
    
}

.cooperation{background-image: url(../assets/img/earth.png); background-position: 0 200px;background-repeat: no-repeat;
    h2{color:#000;margin-top:30px;}
    h4{font-size:28px;line-height: 60px;}
    .company-wrapper{margin-top: 20px;
        height:240px;width: 100%;background: url(../assets/img/company.png) top center no-repeat;
    }
}

.introduce{background-color:$color-primary;display: flex;flex-wrap: wrap;justify-content: center;
    h2{color:#fff;line-height: 100px;margin-top: 20px;}
    h4{font-size:30px;line-height: 80px;color:#fff;}
    p{width:490px;color:#fff;font-size: 18px;line-height:30px;text-align: left;}
}



.combo{
    h2{margin: 10px 0;}
    &-wrapper{
        padding:20px 30px 0 30px;position: relative;display: flex; justify-content: space-between;
        .combo-card{position: relative;overflow: hidden;
            width: 240px;border-radius: 10px;border: 2px solid $color-primary;
            .card-header{line-height: 56px;width: 100%;font-size: 22px;background-color: $color-primary;color:#fff;height: 56px;}
            .card-content{background-color: #fff;
                padding:0 20px 20px 20px;display: flex; flex-wrap: wrap;justify-content: center;
                h3{width: 100%;font-size:58px;color:$color-primary;line-height:64px;}
                .desc{font-size:14px;line-height: 24px;color:$color-primary;}
                .countdown-wrapper{border-bottom: 1px solid #ddd;border-top: 1px solid #ddd;height:66px;width: 100%;margin: 10px 0;}
                .intro{
                    font-size: 14px;line-height: 24px;text-align: center;
                }
                .btn{width:200px;line-height: 30px;font-size: 14px;margin:10px 0 0 0;}
            }
            .tag{position: absolute;background-color: #fff;transform:rotate(-40deg); font-size: 16px;color:$color-primary;display: inline-block;line-height: 26px;padding:0 25px;top:15px;left:-24px; box-shadow:0 5px 10px rgba(197,99,47,0.8);}
            &.small{border-color:#ff9b66;
                .card-header{
                    background-color: #ff9b66
                }
                transform:scale(0.9,0.9);
            }
            &.active{
                position: absolute;top:20px;left:50%;margin-left: -120px;
            }
        }
    } 
}


.contact{background-color: #fff;padding-bottom: 50px;
    h2{}
    .item{
        width: 100%;display: flex;justify-content: center;flex-wrap: wrap;
        .icon{font-size:150px;color: $color-primary;line-height: 1;}
        h4{width: 100%;font-size:28px;color: #333;line-height:60px;margin-bottom: 20px;}
        .btn{width: 240px;margin:0 0 20px 0;}
    }
}


footer{background-color: #575757;font-size: 16px;padding:34px 20px;
    display: flex;flex-wrap:wrap;justify-content: flex-start;text-align-last: left;
    .item{flex-basis:50%;padding-left:150px;margin-bottom: 25px;
        .title{font-size:24px;line-height: 56px;color:#fff;}
        a{line-height: 32px;color:#fff;}
        &.full{flex-basis:100%;
            .list{display: flex;flex-wrap: wrap;
                a{flex-basis: 33.33%;}
            }
        }
        &.copyright{
            font-size:14px;color: #999;
        }
    }
}

.toolbar{position: fixed;height:100px;line-height: 100px; width: 100%;bottom: 0;font-size: 30px;
    a{float: left;display: flex;justify-content: center;align-items: center; 
        &.service{width:210px;background-color: #eaeaea;}
        &.consult{width:540px;background-color: $color-primary;color: #fff;}
    }
    i{font-size:76px;line-height: 100px;margin-right: 20px;}
}
