@import "./variable";

.block{
    h2{font-size: 48px;color: #464646;line-height: 130px;width: 100%;}
    .btn{width: 400px;margin:50px 0;}
}






.advantage{background-color: #fff;margin-top: 30px;display: flex;flex-wrap:wrap;padding:0 75px;justify-content: center;
    h2{color:#000;margin:10px 0;}
    .item{margin-bottom:50px;
        flex-basis: 300px;display: flex;justify-content: center;flex-wrap: wrap;
        i{//0.68
            font-size:200px;line-height: 1;color:$color-primary;
        }
        h4{width: 100%;margin-top: 10px;line-height: 46px;font-size: 28px;color:$color-primary;}
        p{width: 100%;line-height: 36px;font-size: 16px;}
    }
    .btn{margin:0 0 50px 0;}
}

.cooperation{background-image: url(../assets/img/earth.png); background-position: 0 200px;background-repeat: no-repeat;
    h2{color:#000;margin-top:30px;}
    h4{font-size:28px;line-height: 60px;}
    .company-wrapper{margin-top: 20px;
        height:240px;width: 100%;background: url(../assets/img/company.png) top center no-repeat;
    }
}

.introduce{background-color:$color-primary;display: flex;flex-wrap: wrap;justify-content: center;
    h2{color:#fff;line-height: 100px;margin-top: 20px;}
    h4{font-size:30px;line-height: 80px;color:#fff;}
    p{width:490px;color:#fff;font-size: 18px;line-height:30px;text-align: left;}
}



.combo{padding-bottom: 50px;
    h2{margin: 10px 0;}
    &-wrapper{
        position: relative;height:386px;
        .combo-card{position: relative;overflow: hidden;border: 2px solid #ff9b66;
            width: 240px;border-radius: 10px;@extend .transition-02;
            .card-header{line-height: 56px;width: 100%;font-size: 22px;color:#fff;height: 56px;background-color: #ff9b66;@extend .transition-02;}
            .card-content{background-color: #fff;
                padding:0 20px 20px 20px;display: flex; flex-wrap: wrap;justify-content: center;
                h3{width: 100%;font-size:38px;line-height:64px;}
                .desc{font-size:14px;line-height: 24px;color:$color-primary;}
                .countdown-wrapper{border-bottom: 1px solid #ddd;border-top: 1px solid #ddd;height:66px;width: 100%;margin: 10px 0;}
                .intro{
                    font-size: 14px;line-height: 24px;text-align: center;
                }
                .btn{width:200px;line-height: 30px;font-size: 14px;margin:10px 0 0 0;}
            }
            .tag{position: absolute;background-color: #fff;transform:rotate(-40deg); font-size: 16px;color:$color-primary;display: inline-block;line-height: 26px;padding:0 25px;top:15px;left:-24px; box-shadow:0 5px 10px rgba(197,99,47,0.8);}
        }
        .swiper-slide-active .combo-card{border: 2px solid $color-primary;
            .card-header{background-color: $color-primary;}
            h3{color:$color-primary;}
            .btn{background-color: $color-primary;color:#fff;}
        } 
    } 
}


.contact{background-color: #fff;padding-bottom: 50px;
    h2{}
    .item{
        width: 100%;display: flex;justify-content: center;flex-wrap: wrap;
        .icon{font-size:150px;color: $color-primary;line-height: 1;}
        h4{width: 100%;font-size:28px;color: #333;line-height:60px;margin-bottom: 20px;}
        .btn{width: 240px;margin:0 0 20px 0;}
    }
}




